// Gunterz

@font-face {
  font-family: 'Gunterz';
  src:
    url('../fonts/Gunterz/Gunterz-Bold.otf') format('opentype'),
    url('../fonts/Gunterz/Gunterz-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz';
  src:
    url('../fonts/Gunterz/Gunterz-Black.otf') format('opentype'),
    url('../fonts/Gunterz/Gunterz-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Inter

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Italic.woff') format('woff'),
    url('../fonts/Inter/Inter-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-MediumItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
    url('../fonts/Inter/Inter-BoldItalic.woff') format('woff'),
    url('../fonts/Inter/Inter-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
