// Colors

$primary-black-color: black;
$primary-white-color: white;

$main-bg-color: white;
$main-text-color: black;
$input-bg-color: #f0f0f0;
$banner-bg-color: #f2f0f1;
$dark-color: rgba(0, 0, 0, 0.4);
$dark-transparent-color: rgba(0, 0, 0, 0.05);

// Fonts

$title-font: 'Gunterz', system-ui, sans-serif;
$main-font: 'Inter', system-ui, sans-serif;

// Font sizes (viewport width: min - 390px, max - 1440px)
// https://clamp.font-size.app/

$font-size-lg: clamp(1.625rem, 1.1607rem + 1.9048vw, 2.875rem); // 26px -> 46px

// Breakpoints

$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Other

$navbar-height: 90px;
$navbar-height-mobile: 64px;

$content-max-width: 2000px;

// Export

:export {
  primaryBlackColor: $primary-black-color;
  primaryWhiteColor: $primary-white-color;
  mainBgColor: $main-bg-color;
  mainTextColor: $main-text-color;
  inputBgColor: $input-bg-color;
  darkColor: $dark-color;
  darkTransparentColor: $dark-transparent-color;

  titleFont: $title-font;
  mainFont: $main-font;

  fontSizeLg: $font-size-lg;

  xs: $xs;
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;

  navbarHeight: $navbar-height;
  navbarHeightMobile: $navbar-height-mobile;
  contentMaxWidth: $content-max-width;
}
