@import '@/assets/styles/_fonts';
@import '@/assets/styles/_variables.module';

/* Global styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $main-font;
  background-color: $main-bg-color;
  overflow-x: hidden;
}

/* Sections */

.primary-section {
  width: 85%;
  margin: auto auto $primary-section-margin-lg;
  max-width: $content-max-width;

  @media screen and (max-width: $xl) {
    width: 90%;
  }

  @media screen and (max-width: $md) {
    width: 95%;
    margin-bottom: $primary-section-margin-sm;
  }
}

.section-top-margin {
  margin-top: $primary-section-margin-lg;

  @media screen and (max-width: $md) {
    margin-top: $primary-section-margin-sm;
  }
}

.breadcrumbs-section {
  margin-top: 2rem !important;
  margin-bottom: 2.5rem !important;
}

/* Link */

a {
  text-decoration: none;
  color: $primary-black-color;

  &.underlined-link {
    text-decoration: underline !important;
  }

  &:hover {
    color: $link-hover-color;
  }
}

/* Titles */

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $title-font !important;
  }

  h#{$i}.secondary {
    font-family: $main-font !important;
    font-weight: 900;
  }
}

h1 {
  font-size: $font-size-1 !important;
}

h2 {
  font-size: $font-size-2 !important;
}

h3 {
  font-size: $font-size-3 !important;
}

h4 {
  font-size: $font-size-4 !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
