.submit-button-field {
  margin-top: 3rem;

  .sc-btn {
    width: 100%;
  }
}

.google-signup-button-field {
  .sc-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.already-have-account {
  width: fit-content;
  margin: auto;
}
