@import '@/assets/styles/_variables.module';

.sc-input {
  background-color: $primary-white-color;
  border-radius: 3.875rem;
  padding: 0.75rem 1rem;
  min-width: 200px;
  color: $main-text-color;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 50px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px $primary-white-color inset;
    transition: background-color 86400s ease-in-out 0s;
  }

  &.gray-input {
    background: $input-bg-color;
  }
}

.sc-input-borderless {
  padding: 0 !important;
}

.sc-input-outlined[readonly] {
  &:hover,
  &:focus {
    border-color: $input-border-color !important;
    box-shadow: none !important;
  }
}

.sc-input-affix-wrapper {
  background-color: $primary-white-color;
  border-radius: 3.875rem;
  padding: 0.75rem 1rem;
  min-width: 200px;
  height: 50px;

  &.sc-input-textarea-affix-wrapper,
  &.sc-input-textarea-affix-wrapper textarea {
    border-radius: 10px;
  }

  &.gray-input {
    background: $input-bg-color;
  }

  .sc-input-prefix {
    margin-right: 0.75rem;
  }

  .sc-input {
    background-color: transparent;
    height: unset;
  }
}

.sc-form-item-explain {
  font-size: 0.813rem !important;
}
