.cart-item {
  img,
  .sc-skeleton-image {
    width: 100px;
    border-radius: 0.625rem;
  }

  .sc-skeleton-image {
    height: 100% !important;
  }

  .cart-item-body {
    flex-grow: 1;

    h4 {
      margin-bottom: 0.5rem;
    }

    .delete-item-button {
      padding: 0;
      height: fit-content;
    }

    .item-color {
      width: 1.5rem;
      height: 1rem;
      border-radius: 5px;
    }

    .number-input-wrapper {
      gap: 0 !important;

      .sc-input {
        height: 2rem;
      }

      .sc-btn {
        padding: 0 0.625rem;
      }
    }
  }
}
