@import '@/assets/styles/_variables';

header {
  background: $main-bg-color;
  padding: 1.5rem 6.25rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $lg) {
    padding: 1.25rem 1rem;
  }
}
