@import '@/assets/styles/_variables.module';

.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .product-info h3 {
    font-size: 1rem !important;
    font-family: $main-font !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }

  .sc-card-body {
    flex-grow: 1;
  }
}
