@import '@/assets/styles/_variables.module';

.navbar {
  flex-direction: row;

  @media screen and (max-width: $xxl) {
    // Note: The AntDesign navbar does not work when we use `display: none`.

    visibility: hidden;
    position: absolute;

    .sc-menu {
      flex-direction: column;
    }
  }

  .sc-menu-horizontal {
    border-bottom: none;
    line-height: 30px;
    color: $main-text-color;
    font-weight: 400;
    white-space: nowrap;
  }
}
