@import '@/assets/styles/_variables.module';

.navbar {
  @media screen and (max-width: $xxl) {
    display: none;
  }

  .sc-menu-horizontal {
    border-bottom: none;
    line-height: 30px;
    color: $main-text-color;
    font-weight: 400;
    white-space: nowrap;
  }
}
