@import '@/assets/styles/_variables.module';

.customer-feedbacks-section {
  .section-title {
    margin-bottom: 2rem;

    .left-arrow,
    .right-arrow {
      display: flex;
      align-items: center;
    }
  }

  .comments-carousel .swiper-wrapper {
    align-items: stretch;

    .swiper-slide {
      height: auto !important;
    }

    .comment {
      height: 100%;
    }
  }

  @media screen and (max-width: $sm) {
    .carousel-arrows {
      display: none;
    }
  }
}
