@import '@/assets/styles/_variables.module';

.choose-size {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  .sc-tag {
    margin-right: 0;
    padding: 0.2rem 1rem;
    border: 1px solid $grayscale-color-4;
  }
}
