@import '@/assets/styles/_variables.module';

footer {
  background-color: $input-bg-color;

  .footer-inner {
    padding: 3.125rem 6.25rem;
    max-width: $content-max-width;
    margin: auto;

    p,
    a {
      color: $grayscale-color-8;
      line-height: 160%;
      font-size: $font-size-body-1;
    }

    .main-footer-info {
      width: 350px;
      min-width: 350px;

      img {
        margin-bottom: 1.563rem;
      }

      .social-media-icon {
        width: 28px;
        height: 28px;
        background-color: $primary-white-color;
        border: 1px solid $grayscale-color-5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 200ms ease;

        &:hover {
          background-color: $primary-black-color;

          path {
            fill: $primary-white-color !important;
          }
        }
      }
    }

    .footer-menu-item {
      flex-grow: 1;
    }

    .sc-divider-horizontal {
      margin: 3.125rem 0 1.563rem !important;
    }

    @media screen and (min-width: 2300px) {
      padding-left: 0;
      padding-right: 0;
    }

    @media screen and (max-width: $xxl) {
      padding-left: 3.25rem;
      padding-right: 3.25rem;

      .footer-menu {
        flex-direction: column;
        gap: 1.5rem !important;

        & > * {
          width: 100%;
        }

        .main-footer-info {
          min-width: unset;
        }

        .footer-menu-item {
          gap: 1rem !important;
        }
      }
    }

    @media screen and (max-width: $lg) {
      padding: 3.125rem 1rem;
    }

    @media screen and (max-width: $md) {
      .additional-info {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        .payment-options {
          display: flex;
          justify-content: center;
        }
      }

      .footer-menu .footer-menu-item {
        gap: 0.5rem !important;
      }
    }
  }
}
