@import '@/assets/styles/_variables.module';

.comment {
  border-radius: 20px;
  padding: 1.75rem 2rem;
  border: 1px solid $grayscale-color-4;

  .comment-text,
  .publication-date {
    color: $grayscale-color-7;
    font-weight: 500;
    line-height: 140%;
    font-size: $font-size-body-1;
  }

  .publication-date {
    display: inline-block;
    margin-top: 1.5rem;
    color: $grayscale-color-8;
  }

  .author {
    margin-bottom: 0.75rem;

    h4 {
      font-weight: 700 !important;
    }
  }

  .sc-rate {
    margin-bottom: 0.9375rem;
  }

  @media screen and (max-width: $sm) {
    padding: 1.25rem 1.5rem;
  }
}
