@import '@/assets/styles/_variables.module';

.sc-drawer-header {
  flex-direction: row-reverse;
  justify-content: space-between;

  .sc-drawer-header-title {
    flex: unset;

    .sc-drawer-close {
      margin: 0;
    }
  }

  .sc-drawer-extra {
    display: flex;
    align-items: center;
  }
}

.sc-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sc-menu-root {
    border-inline-end: none !important;

    .sc-menu-sub {
      background: transparent !important;
    }

    .sc-menu-submenu-title,
    .sc-menu-title-content > * {
      color: $main-text-color !important;
    }

    .sc-menu-item,
    .sc-menu-submenu-title {
      transition: font-weight 100ms ease;
    }

    .sc-menu-item:hover,
    .sc-menu-submenu-title:hover {
      background: transparent !important;
      font-weight: 700;
    }
  }

  .lang-select {
    display: none;

    @media screen and (max-width: $md) {
      display: block;
    }
  }
}
