@import '@/assets/styles/_variables';

.sc-drawer-header {
  flex-direction: row-reverse;
  justify-content: space-between;

  .sc-drawer-header-title {
    flex: unset;

    .sc-drawer-close {
      margin: 0;
    }
  }

  .sc-drawer-extra {
    display: flex;
    align-items: center;
  }
}

.sc-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sc-menu-root {
    border-inline-end: none !important;

    .sc-menu-sub {
      background: transparent !important;
    }
  }

  .lang-select {
    display: none;

    @media screen and (max-width: $md) {
      display: block;
    }
  }
}
