@import '@/assets/styles/_variables.module';

.welcome-user {
  line-height: 1.5;

  @media screen and (max-width: $sm) {
    display: none;
  }
}

.user-profile-form-section {
  .section-title {
    margin-bottom: 1.25rem;

    h2 {
      font-family: $main-font !important;
      font-weight: 800;
    }

    .underlined-link {
      white-space: nowrap;
    }

    @media screen and (min-width: $lg) {
      .underlined-link {
        display: none;
      }
    }
  }

  .sc-menu {
    flex-shrink: 0;
  }
}
