@import '@/assets/styles/_variables.module';

.user-profile-form-section {
  margin-top: $primary-section-margin-lg !important;

  h2 {
    font-family: $main-font !important;
    margin-bottom: 1.25rem;
    font-weight: 800;
  }
}
