@import '@/assets/styles/_variables.module';

.user-profile-form-wrapper {
  border: 1px solid $grayscale-color-4 !important;
  padding: 1.25rem 1.5rem;
  border-radius: 20px;
  flex-grow: 1;

  .upload-image-field {
    width: 190px;
  }

  .name-fields-container {
    flex-grow: 1;
  }

  .sc-input-affix-wrapper .sc-input-prefix {
    margin-right: 0;
    color: inherit !important;
  }

  .sc-form-item-label {
    padding-bottom: 5px;

    & > * {
      font-size: 0.875rem !important;
      line-height: 120% !important;
      font-weight: 600 !important;
    }
  }
}
