// Colors

$main-bg-color: white;
$main-text-color: black;
$input-bg-color: #f0f0f0;

// Fonts

$title-font: 'Integral CF', fantasy;
$main-font: 'Inter', sans-serif;

// Breakpoints

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
