@import '@/assets/styles/_variables.module';

.hero-banner {
  background: $banner-bg-color;
  height: calc(100vh - $navbar-height);
  position: relative;
  padding: 6.25rem;

  .banner-image img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 0;
  }

  @media screen and (max-width: $sm) {
    height: calc(100vh - $navbar-height-mobile);
  }
}
